# Contains common vars for microservices

###> APP

APP_PORT=50000

###> Database
DB_HOST=as-postgres
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
# 0 - false, 1 - true
DB_ENABLE_LOGGING=0
# 0 - false, 1 - true
DB_USE_SSL=0
# 0 - false, 1 - true
DB_REJECT_UNAUTHORIZED=0
# Password should be in MD5
# echo -n md5; echo -n '{password}{username}' | md5sum
PG_SUPERUSER_NAME=
PG_SUPERUSER_PASSWORD=

###>Blockchain
ETH_ARCHIVE_RPC=
BSC_ARCHIVE_RPC=
FTM_ARCHIVE_RPC=
AVAX_ARCHIVE_RPC=
ARB_ARCHIVE_RPC=

ETH_RPC=
BSC_RPC=
FTM_RPC=
AVAX_RPC=
ARB_RPC=
POL_RPC=

###> Redis
REDIS_HOST=as-redis
REDIS_PORT=6379
REDIS_DB=1
REDIS_PASSWORD=

###> Zapper
ZAPPER_API_KEY=